

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is about page</title>
</head>
<body>
	<section>
		
		
		<div class="card mr-3 col-md-11 ">
			<div class="card-body" th:if=${contact}>
				
				<div class="container text-center">
					
			<img style="height: 250px;width: 220px;border-radius: 70px;
			border: 3px solid grey;" th:src="@{'/img/'+${contact.image}}" src="" alt="" />
				
				<h2  class="mt-3" > <span th:text="${contact.name}">
					
					
				</span>
				(<span th:text="${contact.secondName}"></span>)</h2>
				
				<table class="table mt-5">
  <thead >
    <tr>
      <th scope="col">#ID</th>
      <th scope="col" >
		  <span th:text="${'SMCUSER'+contact.CId}"></span>
	  </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><span th:text="${contact.email}"></span></td>
   
    </tr>
  
  </tbody>
  
  <thead >
    <tr>
      <th scope="col">Contact Number</th>
      <th scope="col" >
		  <span th:text="${contact.phone}"></span>
	  </th>
     
    </tr>
  </thead>
  <thead >
    <tr>
      <th scope="col">Work</th>
      <th scope="col" >
		  <span th:text="${contact.work}"></span>
	  </th>
     
    </tr>
  </thead><thead >
    <tr>
      <th scope="col">#ID</th>
      <th scope="col" >
		  <span th:text="${'SMCUSER'+contact.CId}"></span>
	  </th>
     
    </tr>
    
    <tr>
      <th scope="col">About</th>
      <th scope="col" >
		  <span th:utext="${contact.description}"></span>
	  </th>
     
    </tr>
  </thead>
  
  

</table>

<div class="container  ">
	<a href="#" th:onclick="|deleteContact(${contact.CId})|" class="btn btn-danger btn-block ">delete</a>
	
	  	  <button class="btn btn-primary btn-block">Update</button>
</div>
				</div>
				
			</div>
<h1>You do not have permission</h1>
		</div>
	</section>
	
</body>
</html>
